# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#windows

*.sdf
*.dll
*.suo
*.opensdf
*.exe
*.exp
*.lib
JagSkills/ipch
JagSkills/obj

.DS_Store
#.app


#osx

*.sdf
*.dll
*.suo
*.opensdf
*.exe
*.exp
*.lib
JagSkills/ipch
JagSkills/obj

.DS_Store
.app